* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    background-color: grey;
    z-index: 100;
    transition: with 300ms;
}

.sidebar-brand {
    display: grid;
    grid-template-columns: auto;
    height: 160px;
    padding: 2rem 0rem 1rem 2rem;
    color: honeydew;
}

.sidebar-menu {
    margin-top: 5rem;
}

.sidebar-menu div {
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;
}
.sidebar-menu div:hover {
    cursor: pointer;
}

.sidebar-menu-costumer,
.sidebar-menu-projects {
    padding-left: 1rem;
    display: block;
    color: honeydew;
    font-size: 1.1rem;
}

.sidebar-menu-active {
    background-color: rgb(176, 219, 157);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(32, 54, 9);
    border-radius: 30px 0px 0px 30px;

}

.sidebar-brand div h2 {
    display: inline-block;
}

.main-content {
    transition: margin-left 300ms;
    margin-left:345px ;
}

.my-account-header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}


.my-account-header h3 {
    color: rgb(58, 55, 55);
}

.search-wrapper {
    border: 1px solid rgb(189, 29, 29);
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
   
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}


.user-wrapper small {
    display: inline-block;
    color: gray;
}

.my-account-main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: seashell;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child  i {
    font-size: 3rem;
    color: red;
}

.card-single div:first-child span{
    color: slategray;
}

.card-single:last-child {
    background-color: rgb(181, 218, 218);
}

.card-single:last-child h1,
.card-single:last-child:last-child i,
.card-single:last-child:first-child span {
    color: #fff;
}

.content-table {
    margin-top: 150px;
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header,
.card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(141, 69, 69);
}

.card-header button {
    background-color: rgb(181, 218, 218);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid rgb(181, 218, 218) ;

}

.card-body-table {
    border-collapse: collapse;
}

.card-body-table thead tr {
    border-top: 1px solid #dbc3c3;
    border-bottom: 1px solid #dbc3c3;
    
}

.card-body-table thead td {
    font-weight: 700;
}

.card-body-table td {
    padding: .5rem 1rem;
    font-size: 0.9rem;
    color: #222;
}

.card-body-table tr td:last-child {
    display: flex;
    align-items: center;
}

.card-body-table td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

.status.purple {
    background: rebeccapurple;   
}

.status.pink {
    background: deeppink;
}

.status.orange {
    background: orangered;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.costumer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.costumer-card-info {
    display: flex;
    align-items: center;
}

.costumer-card-info img {
    border-radius: 50% ;
    margin-right: 1rem;
}

.costumer-card-info h4 {
        color: #333;
}

.costumer-card-info small {
    font-weight: 600;
    color: rgb(181, 218, 218);
}

.costumer-card-info small{
    font-size: .8rem;
}

.costumer-card-contact i {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 1rem;
    color: rgb(243, 85, 85);
}

@media screen and ( max-width: 1260px ) {
 
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
    
    .recent-grid {
        grid-template-columns: 50% 45%;
    }
}

@media screen and ( max-width: 960px ) {

    .sidebar {
        width: 245px;
    }
    .main-content {
        transition: margin-left 300ms;
        margin-left:245px ;
    }

    .my-account-header {
        left: 245px;
        width: calc(100% - 245px);   
    }
   
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
    
    .recent-grid {
        grid-template-columns: 50% 45%;
    }
}

@media screen and ( max-width: 768px ) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
    
    .recent-grid {
        grid-template-columns: 100%;
    }

    .search-wrapper {
        display: none;
    }
}

@media screen and ( max-width: 768px ) {
    .cards {
        grid-template-columns: 100%;
    }
}